html{
  font-size: 32px;
}

body{
  background-color: #cfcfcf;
  font-family: sans-serif;
}

.wrapper{
  margin: 0 auto;
  width: 20rem;
  height: 25rem;
  padding: 1rem;
  background-color: #f1f1f1;
  color: #1d1d1d;
  position: relative;
  box-shadow: 0px 0px 22px #888888;
}

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

figure{
  margin: 0rem;
  margin-right: 1rem;
  height: 3rem;
  width: 3rem;
}

img{
  height: 3rem;
  width: 3rem;
}

aside{
  text-align: center;
  background-color: #D4FF00;
  font-size: 0.5rem;
  padding: 0.25rem;
  width: 5rem;
  position: absolute;
  top:0;
  right:0;
}

h5{
  text-align: center;
  margin: 0.5rem 0;
  padding: 0.25rem 0;
  background-color: #D4FF00 ;
}

.in{
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

ul{
  overflow-y: auto;
  height: 12rem;
  margin: 0;
  padding-left: 0rem;
}

li{
  display: flex;
  flex-direction: row;
  align-items: center;
}

li:hover{
  background-color: #e7e1e1;
}

li>input[type=checkbox]{
  order: 1;
}

li>input[type=button]{
  order: 3;
  align-self: flex-end;
}

li>p{
  order:2;
  font-size: 0.5rem;
  text-align: left;
  width: 14rem;
  margin-left: 0.5rem;
}

input[type=checkbox]{
  display: none;
}

input[type=checkbox] + label{
  background: #999;
  height: 1rem;
  width: 1rem;
  display: inline-block;
  padding: 0;
  margin-left: 0.5rem;
  background: url("unchecked.png");
  background-size: 1rem;
}

input[type=checkbox]:checked + label{
  background: #D4FF00;
  height: 1rem;
  width: 1rem;
  display: inline-block;
  padding: 0;
  margin-left: 0.5rem;
  background: url("checked.png");
  background-size: 1rem;
}

#dodajtext{
  padding: 0.5rem;
  width: 16rem;
  border: 1px solid #888888;
}

#dodaj{
  background-color: #D4FF00;
   border: none;
   color: rgb(29, 29, 29);
   padding: 0.5rem;
   text-align: center;
   display: inline-block;
   font-size: 0.5rem;
   width: 3rem;
}

.usun{
  background-color: #D4FF00;
   border: none;
   color: #1d1d1d;
   text-align: center;
   display: inline-block;
   font-size: 0.5rem;
   width: 3rem;
   height: 1rem;
   margin: 0.5rem 0.5rem 0.5rem 0;
   padding: 0rem;
}

.usun:hover{
  background-color: #b6da02;
}

#dodaj:hover{
  background-color: #b6da02;
}

.usun:active{
  background-color: #96b308;
}

#dodaj:active{
  background-color: #96b308;
}

input:focus{
  outline: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #D4FF00;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #b6da02;
}

::-webkit-scrollbar-thumb:active {
  background: #96b308;
}

::-webkit-scrollbar-track {
  background: #cfcfcf;
  border: 0px none #D4FF00;
  border-radius: 1rem;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

footer{
  width: 22rem;
  text-align: center;
  font-size: 0.5rem;
	position:absolute;
	bottom:0;
  left:0;
  background-color: #D4FF00 ;
}
